<!doctype html>
	<html lang="{{ site.lang | default: "en-US" }}">
	  <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="chrome=1">

	    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	    <meta name="viewport" content="width=device-width">
	    <!--[if lt IE 9]>
	    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	  </head>
	  <body>
	  
	      <header>
	      <h1> BEGINNER READING IT, SCIENCE AND BUSINESS </h1>
	      </header>
	      <section>
		<h3>Before you read </h3>
	<h2>TRACK SANTA </h2> 
 
<p>
	Your PC, smartphone or tablet can now track Santa. At the game web site NoradSanta.org you can see Santa travel. He started from the North Pole at 7 a.m on December 24. You can see where Santa is and where he gives presents. You can download and use the game on Android and IOS applications. Also, the track is on Youtube, The game has also an extension for Chrome, Twitter and Facebook. The web site has a lot of videos, games and songs too.
</p>
		       <a href="https://www.pcworld.com/article/3018063/internet/how-to-track-santa-claus-on-christmas-eve-from-any-device.html" target="_blank">Original Article</a> 
Translation                  Explanation                         Text reader – copy and paste to read
After you read



	      </section>
	 
	       
	  
	    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
	

	

	  {% if site.google_analytics %}
	    <script>
	        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	        ga('create', '{{ site.google_analytics }}', 'auto');
	        ga('send', 'pageview');
	    </script>
	  {% endif %}
	  </body>
	</html>

